/* Define font color */
body {
    color: #333333; /* Dark grey text color */
}

/* Define font family */
h1, h2 {
    font-family: Arial, sans-serif;
}

/* Style for content divs */
#content1 {
    background-color: #f0f8ff; /* Light blue */
    padding: 20px;
    margin-bottom: 20px;
}

#content2 {
    background-color: #fdf5e6; /* Light cream color */
    padding: 20px;
    margin-bottom: 20px;
}

#content3 {
    background-color: #ffe4e1; /* Light pink */
    padding: 20px;
    margin-bottom: 20px;
}

/* Add some margin to navigation links */
a {
    margin-right: 15px;
    color: #1e90ff; /* Blue link color */
    text-decoration: none;
}
.nav-link {
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }  